<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  
</head>
<body>
  

<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <form *ngIf = "!tc">
                <fieldset>
                    <div class="form-group">
                        <label for="tdate"><span class="req">* </span> Date :</label>
                        <input required type="date" [(ngModel)]="transaction.tdate" name="tdate" id="tdate"                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="custid"><span class="req">* </span> Account Number :</label>
                        <input required type="text" [(ngModel)]="transaction.custid" name="custid" id="custid"
                            class="form-control" maxlength="14" placeholder="Enter account number..." />
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="fetch_data" value="FetchDetails" (click)="getCustomer()">
                    </div>

					<div class="form-group">
                        <label for="name"><span class="req">* </span> Customer Name :</label>
                        <input required type="text" name="name" id="name" class="form-control" maxlength="50" value={{this.customer.accountholdername}} disabled/>
                    </div>
					<div class="form-group">
                        <label for="balance"><span class="req">* </span> Balance :</label>
                        <input required type="text" name="balance" id="balance" class="form-control" maxlength="50" value={{this.customer.clearbalance}} disabled />
                    </div>
					
                    <div *ngIf = "!bb">
                    <div class="form-group">
                        <label for="bic"><span class="req">* </span>Receiver Bank Code : </label>
                        <input class="form-control" required type="text" [(ngModel)]="transaction.bic" name="bic"
                            id="bic" placeholder="ReceiverBankCode" />

                    </div>

                    <div class="form-group">
                        <label for="receivername"><span class="req">* </span> Receiver Name : </label>
                        <input class="form-control" type="text" [(ngModel)]="transaction.receivername" name="receivername" id="receivername"
                            placeholder="Receivername" required />
                    </div>
					<div class="form-group">
                        <label for="recaccnumber"><span class="req">* </span> Receiver Account Number : </label>
                        <input class="form-control" type="text" [(ngModel)]="transaction.recaccnumber" name="recaccnumber" id="recaccnumber"
                            placeholder="Receiver Account Number" required />
                    </div>

                    <div class="form-group">
                        <label for="code"><span class="req">* </span> Message Instruction :</label>
                        <select class=" form-control" id="code" name="code" [(ngModel)]="transaction.code">
                        
                            <option value="chqb">Beneficiary customer must be paid by cheque only.</option>
                            <option value="cort">Payment is made in settlement for a trade.</option>
                            <option value="hold">Beneficiary customer or claimant will call upon identification.</option>
                            <option value="intc">Payment between two companies that belongs to the same group.</option>
                            <option value="phob">Please advise the intermediary institution by phone.</option>
                            <option value="phoi">Please advise the intermediary by phone.</option>
                            <option value="phon">Please advise the account with institution by phone.</option>
                            <option value="repa">Payments has a related e-Payments reference.</option>
                            <option value="sdva">Payment must be executed with in the same day.</option>
                            <option value=""></option>

                            
                        </select>
                        <div class="status" id="status"></div>
                    </div>
                </div>
                <div *ngIf = "bb">
                    <label for="bank"><span class="req">* </span> Receiver Bank :</label>
                    <div >
                        <select [(ngModel)]="transaction.receivername" [(ngModel)] = "transaction.recaccnumber" name="bic"
                        id="bic" placeholder="ReceiverBankCode"  >

                            <option *ngFor="let i of t" (focus)="setvalue(i)">{{i.accountholdername}}</option>
                            </select>
                            </div>
                </div>
					<div class="form-group">
                        <label for="amount"><span class="req">* </span> Transfer Amount : </label>
                        <input class="form-control" type="text" [(ngModel)]="transaction.amount" name="amount" id="amount"
                            placeholder="0.00" required />
                    </div>
					
                    <div class="form-group">
                      <input class="btn btn-success" type="submit" name="submit_reg" value="PerformTransaction" (click)="addTransaction()" >
                    </div>
                </fieldset>
            </form>
            </div>
            </div>
            </div>
            <div class="container" >
                <div class="row">
                    <div class="col-md-6">
            <form *ngIf="tc">
                        <h2 align = center> Transaction Details</h2>
                        <fieldset>
                            <div class="form-group"><label>Transaction ID :&nbsp;{{transresp.id}}</label></div>
                            <div class="form-group"><label>Transaction Date : {{transresp.tdate}}</label></div>
                            <div class="form-group"> <label>Sender Account Number : {{transresp.custid}}</label></div>
                            <div class="form-group"> <label>Receiver Bank Code: {{transresp.bic}}</label></div>
                            <div class="form-group"><label>Receiver Name: {{transresp.receivername}}</label></div>
                            <div class="form-group"><label>Receiver Account Number : {{transresp.recaccnumber}}</label></div>
                            <div class="form-group"><label>Transaction Amount : {{transresp.amount}}</label></div>
                            <div class="form-group"><label>Transaction Status : {{transresp.status}}</label></div>
                            <div class="form-group"><label>Reason : {{transresp.reason}}</label></div>
                            
                            </fieldset>
            </form>
        </div><!-- ends col-6 -->
        
    </div>
</div>

</body>